<section class="downloads">
  <nav>
    <a href="https://gitlab.com/orbos" class="top-btn" target="_blank">View me on GitLab</a>
    <a href="https://gitlab.com/orbos/orbos.gitlab.io" class="top-btn" target="_blank">View website on GitLab</a>
  </nav>
</section>
